<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
	<display-name>MyBelfast_Web</display-name>

	<welcome-file-list>
		<welcome-file>/index.html</welcome-file>
	</welcome-file-list>

	<!-- 当结合vue前端开发，router采用history模式的时候，必须使用如下方式去跳转请求给router，不然请求会被服务器误认为不存在的链接，从而报404错误。所以我们要在这里将所有的404请求都跳转至index.html上，然后就会触发router的路径控制了 -->
	<error-page>
		<error-code>404</error-code>
		<location>/index.html</location>
	</error-page>

	<!-- 针对POST请求设置编码过滤器，SpringMvc提供给我们了一个编码过滤器，还是很好用的 -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceRequestEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>forceResponseEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Spring使用Listener -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>

	<!-- xml配置SpringMVC	-->
	<servlet>
		<servlet-name>SpringMvcServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value></param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>SpringMvcServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- 会话超时(min) -->
	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>


	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/static/Exception.html</location>
	</error-page>
</web-app>